html,
body {
  overflow: hidden;
  background-color: #f7f8fc;
}

// scrollbars
.scrollbars {
  & > div:last-child {
    & > div:last-child {
      transition: 0.05s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.35) !important;
      }
    }
  }
}

// framework
.framework {
  // header
  .framework-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 56px;
    line-height: 56px;
    transition: all 0.25s;
  }

  // footer
  .framework-footer {
    display: flex;
    height: calc(100vh - 72px);
    margin-top: 72px;
    transition: all 0.25s;
    .framework-aside {
      width: 200px;
      margin-right: 16px;
      border-radius: 0 8px 8px 0;
    }
    .framework-content {
      flex: 1;
    }
  }
}
